@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Duru+Sans&family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:wght@100;400;500&family=Roboto+Mono&family=Roboto:wght@500;900&family=Rubik:wght@800&display=swap");

.section-2 {
  width: 100%;
  height: 100vh;
  background-color: black;
  border: 5px solid black;
  font-family: "Poppins", sans-serif;
}
.about-me {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 30px;
}

.container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.image-cont {
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
}
.image-cont img {
  width: 450px;
  height: 480px;
  border-radius: 3rem;
}

.text-2 {
  color: white;
  font-size: 25px;
  line-height: 45px;
  border: 2px solid #fff;
  padding: 40px;
  border-radius: 3rem;
}

@media screen and (max-width: 1350px) {
  .section-2 {
    width: 100%;
    height: 100vh;
    background-color: black;
    border: 5px solid grey;
    font-family: "Poppins", sans-serif;
  }
  .about-me {
    justify-content: center;
    margin-top: 0.5rem;
  }

  .container-2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .image-cont img {
    width: 320px;
    height: 180px;
  }

  .text-2 {
    margin-top: 2rem;
    font-size: 15px;
    line-height: 25px;
  }
}

@media (max-width: 420px) {
  .container-2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .text-2 {
    margin-top: 1rem;
    font-size: 12px;
    line-height: 22px;
  }
}
